:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --whit-color: #ffffff;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  font-family: inherit;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}
p {
  margin: 0;
}

.page {
  width: 1600px;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.main-nav {
  display: flex;
  align-items: center;
}

/*Utilits*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header-background {
  background-color: var(--whit-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
}
.logo-second {
  color: var(--accent-color);
}
.logo:hover,
.logo-second:hover {
  color: var(--accent-color);
}

/*site-nav*/
.site-nav {
  margin-left: 85px;
  display: flex;
  margin-left: 85px;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/*auth-nav*/
.auth-nav {
  margin-left: auto;
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  align-items: center;
}
.auth-nav .item + .item {
  margin-left: 30px;
}

.info {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.info:hover,
.info:focus {
  color: var(--accent-color);
}
/*hero*/
.hero-title {
  padding-top: 200px;
  padding-bottom: 30px;

  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.container-hero {
  width: 1600px;
  height: 600px;
  text-align: center;
}

/*section*/
.container-second {
  width: 1600px;
  margin-top: 94px;
  margin-bottom: 94px;
  background-color: var(--secondary-background-color);
}

.zero {
  padding-top: 50px;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.section-title {
  padding-top: 94px;
  padding-bottom: 50px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.our-boxinfo {
  margin-right: 30px;
}

.list-img {
  margin-right: 30px;
}
.section .text-title {
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}
.section .img-offer {
  display: block;
}

.team-list {
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}
.section .work-list {
  padding-bottom: 16px;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}
.section .email {
  color: var(--secondary-text-color);
}
/*ameil*/
.email-list {
  padding-bottom: 24px;
}
.email:hover,
.email:focus {
  color: var(--accent-color);
}
/*feature*/
.feature-list {
  padding-top: 94px;
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: 270px;
  margin-right: 30px;
}
.feature-list .item:last-child {
  margin-right: 0;
}

.feature-list .title {
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.feature-list .text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.feature-images {
  padding: 25px 100px;
}
/*customers-img*/
.client-logo {
  margin-right: 30px;
}
.section .img-hover:hover {
  color: var(--accent-color);
}
.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  color: var(--whit-color);
  background-color: var(--accent-color);
}
.adres {
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adres-info {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adres-info:hover,
.adres-info:focus {
  color: var(--accent-color);
}
.developed {
  margin-top: 68px;
  color: rgba(255, 255, 255, 0.4);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
/*portfolio-nav*/
.portfolio-nav .portfolio-href {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.href-item {
  margin-left: 8px;
}
.portfolio-nav .option {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.portfolio-item {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-class {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
}
.portfolio-element:nth-child(3n) {
  margin-right: 0;
}
.portfolio-element:nth-child(-n + 3) {
  margin-bottom: 0;
}
.option {
  min-width: 73px;
  padding: 6px 22px;
  display: inline;
  background-color: var(--secondary-background-color);
}

.option:hover,
.option:focus {
  color: var(--whit-color);
  background-color: var(--accent-color);
}
/*option-list*/
.menu {
  margin-top: 20px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.addition {
  margin-top: 8px;

  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 8;
}
.text-addition {
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}
.mailing {
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.button-primary {
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;

  color: var(--whit-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  letter-spacing: 0.06em;
}
/*footer*/
.foter-bacground {
  margin-top: 94px;
  background-color: #2f303a;
}
.footer-container {
  display: flex;
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.item-logo {
  padding-top: 45px;
  padding-left: 214px;
}
.item-button {
  padding-top: 57px;
  margin-left: 69px;
}
.item-mailing {
  padding-top: 57px;
  margin-left: 94px;
}
